extends ../layouts/default

block vars
  - const pageTitle = "Диалектные особенности владимирских говоров"
  - const sectionContent = "<p><a id=\"_Toc199894930\"></a><strong>Владимиро-Поволжская группа говоров</strong></p><p>Восточно-Поволжская группа говоров занимает северную часть восточных средних говоров. Данная группа говоров включает в себя следующие области: Владимирская, Ивановская, часть Нижегородской области и ряд районов соседних с ними областей (см. Приложение В).</p><p>Рассмотрим диалектные черты Владимиро-Поволжской группы:</p><ol><li>преобладает неполное оканье: различие между звуками [о] и [а] сохраняется здесь только в первом предударном слоге, а в остальных безударных слогах [а] редуцируется до [ъ]: <em>сад[ъ]</em>, <em>с[ъ]мовар</em>;</li><li>изменения звука [ê](Ѣ) совпали с изменениями в литературном языке (почти во всех говорах произносится как [е]);</li><li>в предударном слоге после мягкого согласного обычно различаются все гласные: <em>[пр’аду́]</em>, <em>[р’ека́]</em>;</li><li>редукция безударных гласных распространяется на звук [о] в начальном (неприкрытом) слоге – здесь произносится звук [у]: <em>[у]гурцы</em>, <em>[у]пять</em>;</li><li>аффрикаты обычно различаются, причем довольно часто при [ц] встречается [ч’];</li><li>на месте <em>щ </em>произносится [шш]: [шшу́]ки;</li><li>некоторые особенности произношения согласных связаны с противопоставлением по твердости-мягкости - на месте [к’] и [г’] произносится [т’] и [д’]: <em>ру[ти]</em> вместо <em>ру[к’]и</em>;</li><li>происходит выпадение междугласного [j] с последующим стяжением гласных: <em>зн[aa]т</em>, <em>зн[a]т &lt;знает</em>;</li></ol>"

block content
  include ../blocks/cover
  include ../blocks/links

  +cover("Диалектные особенности владимирских говоров")

  section.container.content
    != sectionContent