
extends ../layouts/default

block vars
  - const pageTitle = "Методические разработки"

block content
  include ../blocks/cover
  include ../blocks/links
  include ../blocks/pdfView

  +cover("Методические разработки")

  section.container
      +pdfView("/assets/methodology.pdf")
  

  script(src=basePath + "/scripts/pdf.js")
