@use "../styles/_variables";

.pdfView {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pdfControl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.pdfButtons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pdfButton {
  border: none;
  padding: 14px 24px;
  text-decoration: none;
  border-radius: 8px;
  background: variables.$backgroundPrimary;
  color: variables.$textLight;
  width: max-content;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.12px;
  margin: 0;
}

.pdfPages {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.12px;
  margin: 0;
}

.pdvCanvas {
  border-radius: 12px;
  border: 1px variables.$borderColor solid;
}