
extends ./layouts/default

block vars
  - const pageTitle = "Главная страница"
  
block content
    include ./blocks/cover
    include ./blocks/infoBlock
    
    +cover("Добро пожаловать в мир диалектов!", "Изучайте богатство и разнообразие живой речи: от тончайших фонетических различий до уникальных грамматических форм. Погрузитесь в диалектологию — науку, которая открывает, как говорит народ и почему это важно.", "assets/main.png")
    +infoBlock([{"title":"История изучения диалектологии как науки","description":"Описание","link":"pages/since_history.html","image":"assets/block.jpg"}])
