doctype html
html(lang="ru")
    head
        block vars
        base(href="/dialectology")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title=pageTitle
        link(rel="stylesheet", href="/styles/main.css")
        link(rel="stylesheet", href="/layouts/default.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.16.105/pdf.min.js")
    body
        header.header
            .container
                .headerContent
                    a(href="/").logo
                        span.logoImage
                        span.logoTitle Диалектология
                    include headerLinks

        main.main
            block content