@use "../styles/_variables";

body {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1344px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  padding: 16px 0;
  border-bottom: 2px solid variables.$borderColor;
}

.headerContent {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.logo {
  color: variables.$textPrimary;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
}

.logoImage {
  width: 32px;
  height: 32px;
  background-color: currentColor;
  mask: url('/dialectology/assets/logo.svg') no-repeat center;
}

.logoTitle {
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: -0.96px;

  @media (max-width: 530px) {
    display: none;
  }
}

.main {
  flex: 1;
  padding-bottom: 50px;
}

.headerLinksContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
}

.headerLink {
  color: variables.$textDark;
  text-decoration: none;
  transition: color 0.2s ease;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: -0.96px;

  &:hover {
    color: variables.$textPrimary;
  }
}

.footer {
  padding: 96px 0 48px;
  background-color: variables.$backgroundPrimary;
}

.footerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footerTitle {
  color: variables.$textLight;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 52px;
  letter-spacing: -0.48px;
  margin: 0;
}

.footerImage {
  width: auto;
  aspect-ratio: 1/1.25;
  object-fit: cover;
  border-radius: 12px;
}